body{
    background-image: linear-gradient(90deg,rgba(0,0,0,1),rgba(0,0,0,0.3)),url("images/Background.png");
    background-size: cover;
    background-attachment: fixed;
}

header{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.items-1{
    justify-content: center;
    position: relative;
}

.logo{
    width: 200px;
    height: 120px;
    box-sizing: border-box;
    position: relative;
    top: -10px;
    left: 30px;
    cursor: pointer;
    
    
}
.Sign{
    font-size: 25px;
    padding: 10px 20px;
    text-align: center;
    margin-right: 50px;
    font-family: "Arial" ;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    background-color: #E50914;
    color: white;
    
}
.Sign:hover{
    background-color: #e50914c7
}
.lang{
    font-size: 25px;
    padding: 10px 40px;
    text-align: center;
    margin-right: 50px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-family: "Arial" ;
    font-weight: 700;
}
.text{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 150px;
    margin-left: 100px;
}
.sub-1{
    
    line-height: 80px;
    font-size: 50px;
    font-family: "Arial" ;
    font-weight: 1000;
    margin-bottom: 0;
}
.sub-2{
    margin-top: 1px;
    margin-bottom: 25px;
    font-family: "Arial" ;
    
}
.sub-3{
    margin-top: 10px;
    font-family: "Arial" ;
    color: rgba(255,255,255,0.7);;
}
.email{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 22px;
    padding-right: 40px;
    font-size: 20px;
    font-family: "Arial" ;
    border: solid 1px white;
    color:white;
    background-color: rgba(8, 7, 7, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 5px;
}
.button{
    margin-top: 20px;
    padding-top: 14px;
    padding-bottom: 12px;
    padding-left: 22px;
    padding-right: 22px;
    font-size: 20px;
    font-family: "Arial" ;
    background-color: #E50914;
    border: 0;
    color: white;
    font-family: "Arial" ;
    font-weight: bolder;
    border-radius: 5px;
    margin-left: 10px;


}
.button:hover{
    background-color: #e50914c7

}